{% extends 'base.html' %}

{% block title %}Make Payment with PayPal{% endblock %}

{% block content %}

<div class="row m-5" >
    <div class="col">
        <h4>Pay with PayPal</h4><br>
        {{ form.render }}
    </div>
    <div class="col">
        <h4 class="page-header">Pay with Stripe</h4><br>
        <form action="{% url 'payment:charge' %}" method="post">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
                data-description="Total charge" data-amount="500" data-locale="auto"></script>
        </form>
    </div>
</div>


{% endblock %}