{% extends 'base.html' %}
{% load static %}
{% block title %}Your Shopping Cart| Checkout {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="w-25 mt-2 mx-auto ">
    <div class="form p-0">
        <form method="post" action="{% url 'orders:order_create' %}">
            <fieldset>
                <legend>Fill detail</legend>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Place order">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}


{% comment %}
<div class="col-md-4">
    <div class="page-header">
        Your Order
    </div>
    <ul class="list-group">
        {% for item in cart %}
        <li class="list-group-item">
            {{ item.quantity }}x {{ item.product.name }}
            <span> {{ item.total_price }}</span>
        </li>
        {% endfor %}

        <li class="list-group-item active">Total Cost: {{ cart.get_total_price }}</li>
    </ul>
</div>
{% endcomment %}