{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock %}
{% load crispy_forms_tags %}

{% block content %}




<div class="container w-25 mt-3 mx-auto">
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <div class="w-100   mx-auto ">
        <div class="form">
            <form method="post">
                <fieldset>
                    {% csrf_token %}
                    {{ form|crispy }}
                </fieldset>
                <input type="submit" value="Send me password !" class="btn btn-success btn-md btn-block mt-3">
            </form>
        </div>


    </div>
</div>

{% endblock %}