{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<style>
    body {
        font-family: Roboto, Arial, sans-serif;
    }
</style>
<div class="row">
    <div class="col-2 bg-info mx-3 p-3 my-1 text-white">
        <form action="/">
            <button type="submit" class="btn btn-light btn-lg btn-block" value="Apply"
                id="filterapplybutton">Filter</button>
            <input id="searchfieldfilter" class="form-control mr-sm-2" type="search" value="{{searchterm}}"
                placeholder="Search Item" aria-label="Search" name="search" hidden>
            <br>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="stock"
                    value="available">
                <label class="custom-control-label" for="defaultUnchecked">In Stock</label>
            </div>
            <br />
            <p>Price: </p>
            min: <input type="text" name="price-min" value="{{product_minmax_price.minimum_price}}
" />
            max: <input type="text" name="price-max" value="{{product_minmax_price.maximum_price}}
" />

            <br />
            <p>Star Rating: </p>
            <div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="form-control-input" id="r1" name="star" value="4">
                    <label class="form-check-label" for="r1">4 & above</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="form-control-input" id="r2" name="star" value="3">
                    <label class="form-check-label" for="r2">3 & above</label>
                </div>

                <div class="custom-control custom-radio">
                    <input type="radio" class="form-control-input" id="r3" name="star" value="2">
                    <label class="form-check-label" for="r3">2 & above</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="form-control-input" id="r4" name="star" value="0" checked>
                    <label class="form-check-label" for="r4">all</label>
                </div>
            </div>
            <br>
        </form>
    </div>

    <div class="col-9">
        {% for product in products %}
        <div class="border none rounded bg-white text-black shadow p-2 m-2 w-25 d-inline-block" style="height: auto;">
            <a class="nav-link" href="{% url 'product:product_detail' product.code %}">
                <div>
                    <img src="{{ product.image.url }}" class="img-fluid rounded mx-auto d-block" style="height: 200px;">
                </div>
                <div class="d-flex justify-content-center" style="display: inline-block; margin: 2px">
                    <span>{{ product.name }}</span>
                </div>
            </a>
            <div class="d-flex" style="display: inline-block; margin: 5px">
                <b> &#8377 {{ product.price }} </b>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>

                <p style="display:inline-block; margin-left:3px;;">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% if product.review__star__avg == None %}
                    not rated
                    {% else %}
                    {{product.review__star__avg|floatformat:1}}
                    {% endif %}
                </p>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}