{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="container-fliud mx-5 my-3">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" style="height:500px;">

            <a href="{% url 'product:product_list' %}" class="btn btn-info">Continue Shopping</a>

            <button class="btn btn-success" id="addtocartonly" data-url="{% url 'cart:cart_add' product.code %}"
                data-toggle="modal" data-target="#myModal">Add to Cart</button>
        </div>

        <div class="details col-md-8">
            <h4 class="product-title">{{ product.name }}</h4>
            <h4 class="price"><b>{{product.price}} &#8377</b></h4>
            <h5 class="available">
                <span>
                    {% if product.available %}
                    In Stock
                    {% else %}
                    Out of Stock
                    {% endif %}
                </span>
            </h5>
            <h5 class="star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>
                    {% if product.review__star__avg > 0  %}
                    {{product.review__star__avg|floatformat:1}}
                    {% else %}
                    No Star Yet
                    {% endif %}
                </span>
            </h5>
            <div>
                <b>
                    <h3>DESCRIPTION</h3>
                </b>
                {{product.description}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="reviewsection">
            {% include 'review.html' %}
        </div>
    </div>
</div>

<div class="container" id="success-popover">
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
</div>

{% if in_cart %}
already in cart
<script>
    $(document).ready(function () {
        $("#addtocartonly").attr("disabled", true);
    });
</script>
{% endif %}

    <script>
        $(document).ready(function () {
            $("#addtocartonly").click(function (e) {
                e.preventDefault();
                let url = $(this).attr('data-url');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function (response) {
                        $("#cartlength").text(response.cartlen);
                        if (response.in_cart == true) {
                            $("#addtocartonly").attr("disabled", true);
                            $("#alreadyincart").html('already in cart')
                            
                        }
                    },
                });
            });
        });
    </script>
    {% endblock %}