{% extends 'myaccount.html' %}

{% block profile %}
<form method="POST">
    {% csrf_token %}
    <table>   
        {{form.as_table}}
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}  