<b>
    <h3>REVIEW</h3>
</b>
{% if review|length > 0 %}
<div>
    <h5>filter star</h5>
    <form action="" class="starfilterpd">
        <select name="starfilterpd">
            <option value="4">4 and above</option>
            <option value="3">3 and above</option>
            <option value="2">2 and above</option>
            <option value="1" selected>1 and above</option>
        </select>
        <input type="submit" id="starfilterpd" value="Filter">
    </form>
</div>
<br>
{% for review in review %}
<div class="container">
    <div class="card p-12">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                </div>
                <div class="col-md-10">
                    <p>
                        <strong>{{review.user__username}}</strong>
                        <span class="float-right"><strong>{{review.star}}</strong><i
                                class="text-warning fa fa-star"></i></span>
                    </p>
                    <div class="clearfix"></div>
                    <p>{{review.comment}}</p>

                </div>
            </div>
            <div class="col-md-12">
                created at: {{review.created_at|date:"d b Y"}}<br />
                updated at: {{review.updated_at|date:"d b Y"}}
            </div>

            {% if review.user == user.id %}

            <button><a
                    href="{% url 'product:product_review_RD' %}?action=delete&product={{review.product__code}}">delete</a>
            </button>

            <form action="{% url 'product:product_review_RD' %}">
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="product" value="{{review.product__code}}">
                <input type="text" name="reviewedit">
                <input type="submit" value="edit review">
            </form>

            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<p>No Review Yet</p>
{% endif %}