{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


{% if 'next' in request.GET %}
<div class="container mt-3 w-50" id="success-popover">
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Please login first before checkout</strong>
    </div>
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. </p>
{% endif %}
{% endif %}
<style>
    .form-text {
        display: None;
    }

    .form-group {
        margin-bottom: 0;
    }

    #register-button {
        margin-top: 1rem;
    }
</style>
<div class="container w-25 mt-3 mx-auto">
    <div class="w-100   mx-auto ">
        <div class="form">
            <form method="post" action="{% url 'accounts:login' %}">
                <fieldset>
                    <legend class="text-center"><strong>Login</strong></legend>
                    {% csrf_token %}
                    {{ form|crispy }}
                </fieldset>
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" value="login" class="btn btn-success btn-md btn-block mt-3">
            </form>
        </div>

        <p class="mt-2"><a href="{% url 'accounts:password_reset' %}">Lost password?</a></p>
        <hr>
        <div>
            <p class="text-center">Or Login With</p>
            <div class="ml-3 text-center d-flex justify-content-around">
                <a href="{% url 'accounts:socialauth:begin' 'google-oauth2' %}">
                    <button class="btn btn-danger" type="button" name="button">Google</button>
                </a>

                <a href="{% url 'accounts:socialauth:begin' 'facebook' %}">
                    <button class="btn btn-primary" type="button" name="button">Facebook</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}