{% extends 'base.html' %}
{% block title %} My Account {% endblock %}
{% block content %}


<div class="container-flex">
    <div class="row">
        <div class="col m-3">
            <div class="card w-3 p-3" style="width: 18rem;">
                <i class='fas fa-user-circle text-center' style='font-size:72px'></i>
                <div class="card-body">
                    <p class="card-text text-center font-weight-bold    ">
                        {{userx.0.first_name}}&nbsp{{userx.0.last_name}}</p>
                </div>
            </div>
            <div class="card w-3 mt-2" style="width: 18rem;">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>

</div>



{% endblock %}

{% comment %}

username- {{userx.0.username}}<br>
email- {{userx.0.email}}<br>
first_name- {{userx.0.first_name}}<br>
last_name- {{userx.0.last_name}}<br>

{% endcomment %}