{% extends 'myaccount.html' %}
{% block profile %}

<div class="shop">
    {% if ordered|length > 0 %}
    {% for item in ordered %}
    <div class="product border none rounded p-3 mb-2 bg-white text-black shadow p-3 mb-5 bg-red rounded w-20 p-4  d-inline-block "
        style="border: 2px solid black;margin: 5px">

        <div class="d-flex justify-content-center" style="display: inline-block;margin: 5px">Order Id :
            {{ item.order_id}}</div>
        <div class="d-flex justify-content-center" style="display: inline-block;margin: 5px">product Id :
            {{ item.product__name}}</div>
        <div class="d-flex justify-content-center" style="display: inline-block;margin: 5px">quantity :
            {{ item.quantity}}</div>
        <div cass="d-flex justify-content-center" style="display: inline-block;margin: 5px">price : &#8377
            {{ item.price }}</div></br>

        {% for review in pastreview %}

        {% if review.product__code == item.product__code %}

        Given star: {{review.star}}<br>
        Given Review: {{review.comment}}<br>

        <button><a
                href="{% url 'product:product_review_RD' %}?action=delete&product={{review.product__code}}">delete</a>
        </button>

        <form action="{% url 'product:product_review_RD' %}">
            <input type="hidden" name="action" value="edit">
            <input type="hidden" name="product" value="{{review.product__code}}">
            <input type="text" name="reviewedit">
            <input type="submit" value="edit review">
        </form>

        {% endif %} {% endfor %}
        <a href="{% url 'product:product_review' item.product__code %}">Give a review</a>
    </div>
    {% endfor %}


    {% else %}
    No Past Order
    {% endif %}
</div>

{% endblock %}