{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p>
        Please confirm your email address to complete the registration
    </p>
    <p class="text-center">
        <a href="{% url 'product:product_list' %}" class="btn btn-info btn-lg btn-block">Continue Shopping</a>
    </p>
</div>

{% endblock %}