{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-text {
        display: None;
    }

    .form-group {
        margin-bottom: 0;
    }

    #register-button {
        margin-top: 1rem;
    }
</style>
<div class="w-25 my-0 mx-auto ">
    <div class="form">
        <form method="post">
            <fieldset>
                <legend class="my-0">Create Account</legend>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Create account" class="btn btn-success btn-md btn-block"
                    id="register-button">
            </fieldset>
        </form>
    </div>
    <hr>
    <div>
        <p class="text-center">Or Signup With</p>
        <div class="ml-3 text-center d-flex justify-content-around">
            <a href="{% url 'accounts:socialauth:begin' 'google-oauth2' %}">
                <button class="btn btn-danger" type="button" name="button">Google</button>
            </a>

            <a href="{% url 'accounts:socialauth:begin' 'facebook' %}">
                <button class="btn btn-primary" type="button" name="button">Facebook</button>
            </a>
        </div>
    </div>
    <hr>
    <p class="text-center"><b>Already have an account? <a href="{% url 'accounts:login' %}">Sign in</a></b></p>

</div>
{% endblock %}