{% extends 'base.html' %}
{% load static %}
{% block title %}Your Cart{% endblock %}
{% block content %}

<div class="container-flex m-4">
    <div class="row">
        <div class="col-8">
            {% if cartxx|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cartxx %}
                    {% with product=item.product %}

                    <tr>
                        <td><a class="nav-link" href="{% url 'product:product_detail' product.code %}">
                                <img src="{{ product.image.url }}" style="height: 100px; width: auto;"></a>
                        </td>
                        <td style="height: 150px; width: 200px;">
                            <a class="nav-link"
                                href="{% url 'product:product_detail' product.code %}">{{ product.name }}</a></td>
                        <td>
                            <form action="{% url 'cart:cart_add' productcode=product.code %}" method="POST"
                                class="updatecartquantity" name="{{product.code}}">
                                {% csrf_token %}
                                <select name="quantity">
                                    <option value="" selected disabled hidden>{{item.quantity}}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <input type="submit" value="Update" class="btn btn-info">
                            </form>
                        </td>

                        <td> {{ item.price }} &#8377</td>
                        <td>
                            <span class="totalprice"
                                id="totalprice_{{product.code}}">{{ item.total_price }}</span>&#8377
                        </td>
                        <td>
                            <a href="{% url 'cart:cart_remove' productcode=product.code %}">Remove</a>
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col">
            <p class="text-center">
                <a href="{% url 'product:product_list' %}" class="btn btn-info btn-lg btn-block">Continue Shopping</a>
            </p>
            <p class="text-center">
                Grand Total:
                <h2 class="text-center">
                    <b id="grandtotal"> {{ cartxx.get_total_price }} &#8377</b>
                </h2>
            </p>
            <p class="text-right">
                <a href="{% url 'orders:order_create' %}?next={{request.path}}"
                    class="btn btn-success btn-lg btn-block">Checkout</a>
            </p>
        </div>
    </div>
</div>
{% else %}
<div class="container-flex align-middle">

    <h3 class="text-center align-middle">Your cart is empty</h3>
    <p class="text-center">
        <a href="{% url 'product:product_list' %}" class="btn btn-info btn-lg btn-block">Continue Shopping</a>
    </p>


</div>

{% endif %}



<script>

    $(".updatecartquantity").submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        let totalprice = form.attr("name");
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                $('#totalprice_' + totalprice + '').html(data.totalprice);
                $("#grandtotal").html(data.grandtotal)
            }
        });
    });
</script>


{% endblock %}