{% load static %}
<style>
    li>a {
        color: white !important;
    }
</style>
<nav class="navbar navbar-expand-md bg-info navbar-dark font-weight-bold text-white">
    <div class="container-fluid">

        <a class="navbar-brand font-weight-bold" href="/">
            <h3>BRAND</h3>
        </a>

        <form action="/" class="form-inline my-2 my-lg-0 ">
            <input id="searchfield" class="form-control mr-sm-2 ml-4" type="search" value="{{searchterm}}"
                placeholder="Search Item" aria-label="Search" name="search" style="width:430px !important;">
            <button class="searchbutton btn btn-light" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav navbar-right" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart</a>
                </li>
                <li class="nav-item" id="cartlength">
                    <a class="nav-link" href="{% url 'cart:cart_detail' %}">({{cartlength}})</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'seller:seller-home' %}">Seller</a></li>

                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:myaccount' %}">{{ user.username }}</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a></li>
                {% endif %}

            </ul>
        </div>

    </div>
</nav>

<script>
    $(document).ready(function () {
        $('.searchbutton').attr('disabled', true);
        $('#searchfield').keyup(function () {
            if ($(this).val().length != 0)
                $('.searchbutton').attr('disabled', false);
            else
                $('.searchbutton').attr('disabled', true);
        })
    });
</script>